
header{
    background-color: #5889a1;
    padding: 15px 20px;
    display: flex;
    align-items: center; 
}
.header ul
{
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    list-style-type: none;
}
.header ul li a{

    font-family: 'Palanquin Dark', sans-serif;
    color:antiquewhite;
    text-decoration: none;
    font-size: 20px;
}
.header ul li a:hover{
    text-decoration: underline;
}

.headerIcon{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
}
.headersearch{
    flex-direction: row;
    flex-wrap: nowrap;
    float: right;
    margin: 10px;
    flex: 10;
    justify-content: flex-end;
    align-items: center; 
}
.headersearch input{
   border:none;
   float: right;   
   padding: 5px 10px; 
}
.headersearch button{
    float: right;
    border: none;
    
    cursor: pointer;
    background-color: #fff;
    flex-wrap: nowrap;
    height: 100%;
}
.title{
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    font-size: 60px;
    line-height: 0%;
    color: #0E043A;
}
body{
    background-color: #EDE7D9;
}
.cardHead{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    overflow: hidden;
    
}
.cardHeadImg{
   object-fit:cover;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 500px;
  max-height: 600px;
  min-width: 1200px;
  max-width: 2000px;
  border-radius: 25px;
  margin-bottom: 50px;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 22%, 0.075),
  0 2px 2px hsla(0, 0%, 22%, 0.075),
  0 4px 4px hsla(0, 0%, 22%, 0.075),
  0 8px 8px hsla(0, 0%, 22%, 0.075),
  0 16px 16px hsla(0, 0%, 22%, 0.075);
  
}
.chTitle{
    position: absolute;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    left: 50%;
    color:#fff;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 10px;
    
}
.chTitle h1{font-size: 50px; line-height: 100%;}
.chTitle p{font-size: 25px; margin: 0;}
.chItem{
    position: absolute;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    left: 15%;
    color:#fff;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 25px;
}

.subCata {
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin-left: 70px;
    margin-right: 70px;
    
   
}
.Catagories
{
    
     flex: 0 1 10%;
    background-color: #fff;
    margin-bottom: 20px;
    padding: .4rem;
    flex: 0 1 auto;
    background-color: #EDE7D9;
    object-fit: cover; 
}
.Catagories img{
    height: 10rem;
    width: 8rem;
    object-fit: cover;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    
}
.Catagories p{

    padding-bottom: .1rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}



.inhouseTitle{
    text-align: center;
    overflow-wrap:normal ;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2rem;
}
.inhouse{
    display: flex;
    justify-content:space-between;
   
    flex-wrap: nowrap;
    margin-left: 70px;
    margin-right: 70px;
}
.brand{
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    padding: .4rem;
    flex: 0 1 auto;
    font-family: 'Palanquin Dark', sans-serif;
    color: #EDE7D9;
    background-color: #EDE7D9;
}
.brand img{
    cursor: pointer;
    height: 600px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
.brand1Title{
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 1px;

}
.brand1Text{
    position: absolute;
    font-size: 25px;
    margin-top: 300px;
    margin-left: 180px;
    max-width: 180px;
    text-align:right;  
}
.brand2Title{
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 1px;

}
.brand2Text{
    position: absolute;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 20px;
    max-width: 180px;
}
.brand3Title{
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 320px;
    
}
.brand3Text{
    position: absolute;
    font-size: 25px;
    margin-top: 400px;
    margin-left: 20px;
    max-width: 180px;
}
#inhousemore{

    font-family: 'Be Vietnam Pro', sans-serif;
    background-color:#DCC797;
    border: none;
    border-radius: 15px;
    font-size: large;
    height: 40px;
    width: 120px;
}
#inhousemore:hover{background-color:#ad965e; cursor: pointer;}

.containerSale{
  display: flex ;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
   
}
.forSale h2{
    text-align: center;
    overflow-wrap:normal ;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 25px;
    
}
.cardSale{
    flex: 0 1 10%;
    background-color: #fff;
    margin-bottom: 20px;
    
    box-shadow: 
      0 1px 1px hsla(0, 0%, 22%, 0.075),
      0 2px 2px hsla(0, 0%, 22%, 0.075),
      0 4px 4px hsla(0, 0%, 22%, 0.075),
      0 8px 8px hsla(0, 0%, 22%, 0.075),
      0 16px 16px hsla(0, 0%, 22%, 0.075);
   
}
.cardSale img{
    height: 18rem;
    width: 12rem;
    object-fit: cover;
}
.cardSale p{
    
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .1rem;
    font-family: 'Be Vietnam Pro', sans-serif;

    
} 
.shopBrands{margin-bottom: 50px;}
.shopBrands h2{
    text-align: center;
    overflow-wrap:normal ;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 25px;
}
.companies{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;

    list-style-type: none;
    text-align:center;
}
.companies li{
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-color: #DCC797;
    
    border-radius: 100%;
    margin: 10px;
    
}
.btnbrand{
   
    text-align: center;
    
}
#brandmore{

    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #97B6B8;
    border: none;
    border-radius: 15px;
    font-size: large;
    height: 40px;
    width: 120px;
}
#brandmore:hover{background-color: #5889a1;cursor: pointer;}
.companies img{
    width: 80%;
    margin-top: 13px;
}
.btninhouse{
   
    text-align: center;
}

.contactcontainer{
    background-color: #5889a1;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    max-width: 600px;
    margin:auto;
    margin-bottom: 50px;;
}
.contactcontainer h2{text-align: center; color:#EDE7D9}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px; 
    border-radius: 15px; 
    border: none;
    box-sizing: border-box;
    margin-top: 10px; 
    margin-bottom: 10px; 
    resize: vertical;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  input[type=submit] {
    background-color: #DCC797;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
 
  input[type=submit]:hover {
    background-color: #ad965e;
  }
  .footer{
    background-color: #97B6B8;
  }
  .footerlists{
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    gap: 35px;
  }
  .footerlists h3{white-space:nowrap; }

  .endfoot{
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #5889a1;
    padding-left: 10px;
    gap: 60px;
  }
  .media img{
    width: 400px;
    padding: 10px;

  }
